#ProfileImage {
  width: 200px;
}

.EventImage {
  width: 60px;
  height: 60px;
}

.Female {
  width: 60px;
  height: 60px;
}

.Male {
  width: 60px;
  height: 60px;
}

.peopleImage {
  width: 60px;
  height: 60px;
}

.People {
   margin-top: 20px;
}

.Event {
   margin-top: 20px;
}

#pagedisplay {
  text-align: center;
}

#content {
  text-align: center;
}

.row {
  margin-top: 5px;
  margin-bottom: 2px;
}

.small-img {
	width: 30px;
}
